@import '../../../utilities/variables';

.interface__options {
    @include neonBox;
    position: absolute;
    top: 740px;
    right: 25px;
    width: 300px;
    height: 200px;
    border-radius: 3px;
    z-index: 2;
    user-select: none;
    font-family: 'Noto Sans JP', sans-serif;
    // background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5606617647058824) 73%);
    background: linear-gradient(180deg, rgba(20,20,20,.9) 0%, rgba(20,20,95,.8) 80%);
    animation: showBar 1.5s ease forwards;
    
    transition: all .2s ease-in-out;
    
    .presets {
        p {
            text-align: center;
            text-shadow: 0 0 5px #46e2fa, 0 0 10px #46e2fa, 0 0 15px #46e2fa,;
            font-size: 1.5rem;
            margin-bottom: 5px;
        }
        .presets_boxHolder {
            display: flex;
            gap: 5px;
            justify-content: center;
            .presets_box {
                padding: 5px 10px;
                text-align: center;
                box-shadow:  0 0 10px #0ba9ca,
                  inset 0px 0px 15px 1px #0ba9ca;
                border-radius: 5px;
                border: 2px solid rgb(75, 255, 255);
                cursor: pointer;
                &:hover {
                    border: 2px solid rgb(160, 255, 255);
                    box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #0ba9ca, 
                      inset 0px 0px 15px 1px #80ccdb;
                      color: rgb(138, 243, 243);
                }
            }
            .presets_boxHolder_selected {
                border: 2px solid rgb(240, 181, 142);
                box-shadow:  0 0 10px rgb(236, 151, 94),
                  inset 0px 0px 15px 1px rgb(180, 103, 52);
                  color: rgb(240, 181, 142);
            }
        }
        
    }

    .interface__options_line {
        text-align: center;
        margin: 10px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .interface__options_img {
            height: 40px;
            width:45%;
            margin: 5px 5px 0 5px;
            padding: 3px;
            user-select: none;
            
            box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #0ba9ca, 0 0 15px #0ba9ca,
                  inset 0px 0px 20px 1px #0ba9ca;
            border: 4px solid rgb(75, 255, 255);
            cursor: pointer;
            border-radius: 8px;
            transition: all .2s ease-in-out;
            text-align: center;
            
            &:hover {
                border: 4px solid rgb(160, 255, 255);
                box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #0ba9ca, 0 0 15px #0ba9ca,
                  inset 0px 0px 20px 1px #80ccdb;
            }
        }
        .interface__options_disabled {
            box-shadow: 0 0 2px rgb(240, 235, 235), 0 0 5px rgb(224, 221, 221), 0 0 10px #323435, 0 0 15px #5a5b5c,
                  inset 0px 0px 20px 15px #4e5455;
            border: 4px solid rgb(192, 188, 188);
            position: relative;
            &:hover {
                box-shadow: 0 0 2px rgb(240, 235, 235), 0 0 5px rgb(224, 221, 221), 0 0 10px #323435, 0 0 15px #5a5b5c,
                  inset 0px 0px 20px 15px #4e5455;
            border: 4px solid rgb(245, 241, 241);
            }
        }
    }

    

    .interface__right_text {
        position: absolute;
        width: 300px;
        height: 200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        animation: gradientMove 900ms ease infinite, fixScreen2 .2s ease 2s forwards ;
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-align: center;
        line-height: 300px;
        font-size: 3.5rem;
        font-family: Tomorrow;
        overflow: hidden;
        background: linear-gradient(
                    to bottom,
                    #0ba9ca,
                    #000 50%,
                    #46e2fa 50%,
                    #222
                );
        h2 {
            animation: chromaticMove 4500ms ease infinite,pulse ease 200ms  infinite;
            
            font-weight: 900;
        }
        

    }
    h3 {
        text-shadow: 0 0 5px #46e2fa, 0 0 10px #46e2fa, 0 0 15px #46e2fa,;
        font-size: 1.3rem;
        text-align: center;
        position: relative;
        
        &:before {
            content: "";
            height: 2px;
            box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #0ba9ca, 0 0 15px #0ba9ca;
            top: 120%;
            position: absolute;
            width: 100%;
            left: 0;

        }
    }
    ul {
        padding: 10px 10px;
        list-style: none;
        position: relative;
        .navigation_li_current {
            text-shadow: 0 0 5px #46e2fa, 0 0 10px #46e2fa, 0 0 15px #46e2fa,;
            input ~ .checkmark {
                background-color: #ccc;
            }
        }
        li {
            position: relative;
            
            padding: 0;
            line-height: 3.5rem;
            font-size: 2rem;
            cursor: pointer;
            transition: .3s all;
            text-shadow: 0 0 2px #46e2fa, 0 0 3px #46e2fa, 0 0 5px #46e2fa,;
            &:hover {
                text-shadow: 0 0 5px #46e2fa, 0 0 10px #46e2fa, 0 0 15px #46e2fa,;
            }
            &:first-of-type {
                margin-top: 15px;
            }
            .interface__right_radio {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            .checkmark {
                position: absolute;
                top: 50%;
                transform: translate(0,-50%);
                left: 0;
                height: 20px;
                width: 20px;
                // background-color: #eee;
                border: 1px solid #0ba9ca;
                box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #0ba9ca, 0 0 15px #0ba9ca, inset 0 0 3px 1px #fff;
                border-radius: 50%;
                transition: all .3s;
                
            }
            &:hover input ~ .checkmark {
                background-color: #ccc;
            }
            .destination {
                margin-left: 30px;
                font-family: Tomorrow;
            }
            
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 200%;
        background-color: #46e2fa;
        // box-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #0ba9ca, 0 0 15px #0ba9ca,
        // 0 0 20px #0ba9ca, 0 0 25px #0ba9ca, inset 0px 0px 20px 1px #0ba9ca;
        box-shadow:  5px 0 15px 3px #46e2fa;
        height: 30px;
        top: 50%;
        transform: translate(0,-50%);
        left: 100%;

    }

   
}

@keyframes gradientMove { 
    0%{background-size: 100% 4px}
    50%{background-size: 100% 2px}
    100%{background-size: 100% 4px}
}


@keyframes pulse { 
    0%{ opacity:.9;transform: skewX(.3deg);}
    25%{ opacity:1;}
    50%{opacity:.9;}
    75%{ opacity:1; transform:skewX(.3deg);}
    100%{opacity:.9;}
}
@keyframes chromaticMove { 
    0%{text-shadow: 3px 2px 2px #46e2fa, 0px -1px 3px rgba(12, 251, 64, 0.5),0px 0px -2px rgba(251, 12, 12,1);}
    50%{text-shadow: 3px 2px 2px #46e2fa, 0px -1px 3px rgba(12, 251, 64, 0.5),-3px 2px 3px rgba(251, 12, 12,1);}
    100%{text-shadow: 3px 2px 2px #46e2fa, 0px -1px 3px rgba(12, 251, 64, 0.5),2px -1px 2px rgba(251, 12, 12,1);}
}

@keyframes showBar {
    0% { transform: rotateY(90deg) skewX(30deg); right: -180px;}
    100% { transform: rotateY(0deg)  skewX(0deg); right: 55px;}
}

@keyframes fixScreen2 {
    0% { opacity: 1; width: 300px; height: 200px; font-size: 3.5rem; line-height: 300px;}
    100% { opacity: 0; width: 0; height: 0%; font-size: 0px; line-height: 0px}
}

.hideElement {
    // background-color: rgba(0,0,0,0) !important;
    // color: rgba(0,0,0,0) !important;
    // text-shadow: 0 0 0 rgba(0,0,0,0) !important;
    // box-shadow: 0 0 rgba(0,0,0,0) !important;
    // border-color: rgba(0,0,0,0) !important;
    opacity: 0.2;
  }