.noEvents-loader {
    font-size: 10rem;
    background: -webkit-linear-gradient(90deg, rgb(94, 188, 255) 10%, rgb(243, 94, 255) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    z-index: 5;
}
